<div class="row py-5 gy-3">
  <div class="col-md-4">
    <div class="welcome">
      <div class="brdr w-25 mb-4"></div>
      <h3>Trending</h3>
      <h3>person</h3>
      <h3>To watch now</h3>
      <span class="text-muted">most watched person by day</span>
      <div class="brdr w-100 mt-4"></div>
    </div>
  </div>
  <div class="col-md-2" *ngFor="let person of peoploList">
    <a class="nav-link" [routerLink]="['/details',person.id,person.media_type]">
      <div class="item">
        <img class="w-100" [src]="imgBaseUrl + person.profile_path" alt="" />
        <h2 class="h6">{{person.name}}</h2>
      </div>
    </a>
  </div>
</div>
