<div class="row py-5 gy-3">
    <div class="col-md-4">
      <div class="welcome">
        <div class="brdr w-25 mb-4"></div>
        <h3>Trending</h3>
        <h3>Tvshows</h3>
        <h3>To watch now</h3>
        <span class="text-muted">most watched Tvshows by day</span>
        <div class="brdr w-100 mt-4"></div>
      </div>
    </div>
    <div class="col-md-2" *ngFor="let tv of tvshowList">
      <a class="nav-link" [routerLink]="['/details',tv.id,tv.media_type]">
      <div class="item position-relative">
        <img class="w-100" [src]="imgBaseUrl + tv.poster_path" alt="" />
        <h2 class="h6">{{ tv.name }}</h2>
        <span class="position-absolute top-0 end-0 p-2 bg-info">{{tv.vote_average.toFixed(1)}}</span>
      </div>
      </a>
    </div>
  </div>
